<html>
  <head>
    <meta charset="UTF-8">
    <title>File Uploads</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/upload.css">
  </head>
  <STYLE>A {text-decoration: none;} </STYLE>
<body>
    <div class = "lul">
      <table  >
        <tr >
          <td class="topbtn"><a  class ="insidebutton1 " href="/users/writer">Home</a></div></td>
          <td class="topbtn"><a  class ="insidebutton1 " href="/users/view">My Profile</a></div></td>
          <td class="topbtn"><a  class ="insidebutton1 " href="/users/loggedout">Logout</a></div></td>
        </tr>
      </table>
      </div>
    <br>
  <div class="container">

 <div class="aaa">
        <h2 class = "hero1"><img class="sss" src="/img/scripto.png" alt="Logo" width="80" height="100"></img><br><br>Scriptomania </h2><br>
      </div>

      
       

    
      
       <!--  <h2 class="welcome">Manage Scripts</h2> -->
   
          <!-- <div class="col-md-5 m-auto"> -->
        <form  class="width" action="/users/filter" method="POST" >
        <div class="card card-body mb-4">

    <select name="genref" id="genref" onchange="this.form.submit()">
      <option  value="Filter By Genre">Filter by Genre</option>
      <option  value="All">All</option>
        <option  value="Thriller">Thriller</option>
        <option  value="Horror">Horror</option>
        <option  value="Romance">Romance</option>
        <option  value="Action">Action</option>
        <option  value="Fantasy">Fantasy</option>
        <option  value="Mystery">Mystery</option>
        <option  value="Fiction">Fiction</option>
        <option  value="Psifi">Psifi</option>
    </select>
    </div>
  </form>
        <!-- </div> -->
        {{#each files}}
        
        <div class="card card-body mb-3"> 
          <div class="left">
            <div class="card card-body mb-3"> 
              <div class="row">
                <div class="column">
                
            <p class= "bold"><span style="font-weight: bold;">Name: </span>{{this.filename}} </p>
          </div>
          <div class="column">
            <p class="bold2"><span style="font-weight: bold;">Genre: </span> {{this.metadata.additional_data.genre}}</p> 
          </div>
        <div class="column">
            <p class="bold3"><span style="font-weight: bold;">Price: </span>{{this.metadata.additional_data.price}}</p></div>
        </div>
     <div class="row">
  <div class="column">
            <p class="bold"><span style="font-weight: bold;">Running Time: </span>{{this.metadata.additional_data.duration}}</p></div> 
<div class="column">
  <p class="bold2"> <span style="font-weight: bold;">Characters: </span>{{this.metadata.additional_data.noc}} </p></div> 
<div class="column">
  <p class="bold3"><span style="font-weight: bold;">Status: </span>{{this.metadata.status}}</p></div>
          </div>
           </div>

          <!-- <p><b>Time:</b>{{this.uploadDate}}</p>  -->
           <div class="card card-body mb-3">
          <p class="bold1"><span style="font-weight: bold;">Synopsis: </span>{{this.metadata.additional_data.sypnosis}}
          </p>
        </div>
          
          <form method="POST" action="/users/files/{{this._id}}?_method=DELETE">
            <button class="btn btn-danger btn-block mt-4">Delete</button>
          </form>
         </div> 
       </div>
        {{/each}}



    
    </div>
  </div>
  

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

